:root {
	--arankiLight: #F5F5F5;
	--arankiDark: #1B1B1B;
	--arankiClozeLight: blue;
	--arankiClozeDark: yellow;
}

.card {
	font-family: myfont, myfontarabic;
	font-size: 16px;
	text-align: center;
	line-height: 1.6;
	background-color: var(--arankiWhite);
}

hr {
	border: 0.5pt solid black;
}

.cloze, a.hint {
	color: var(--arankiClozeLight);
}

.back, .front {
	display: inline-block;
	padding: 0.6em;

	background-color: white;
	border: 1px solid black;
	width: auto;
	max-width: 90%;
}

.author {
	font-size: 0.5rem;
	line-height: 1;
	margin-top: 0.6rem;
	text-align: right;
	
}

/* ------------------------ */
/* THESE ARE FOR TABLE ---- */
/* ------------------------ */

.tablertl {
	overflow-x: scroll;
	overflow: scroll;
}

table, td {
	border: 1px solid black; 
}

table {
	margin-left: auto;
	margin-right: auto;
	min-width: auto;
}

td {
	padding: 8px 16px;
}

/* ------------------------ */
/* THESE ARE FOR LISTS ---- */
/* ------------------------ */

ul, ol {
	display: inline-block;
	font-size: inherit;
	text-align: left;
	margin-top: 15px auto initial auto; 
}

/* ------------------------ */
/* THESE ARE FOR TAGS ----- */
/* ------------------------ */

.tags {
	box-sizing: border-box; 
	width: auto;
	border: 1px solid black;
	font-size: 0.7rem;
	line-height: 2em;
	margin-top: 50px;
	padding: 8px 12px 8px 12px;
	overflow: scroll;
}

/*--- Hide Scrollbars But Keep Functionality ---*/

.tags::-webkit-scrollbar {
  display: none;
}

/* ------------------------ */
/* THESE ARE FOR NIGHT MODE */
/* ------------------------ */

.nightMode .back, .nightMode .front, .nightMode .tags {
	background: var(--arankiDark);
	border: 1px solid white;
}

.nightMode hr {
	border: 0.5pt solid white;
}

.nightMode.card td {
	border: 2px solid white; 
}

.nightMode.card {
	background-color: black;
}

.nightMode .cloze, .nightMode a.hint {
	color: var(--arankiClozeDark);
}

/* ------------------------ */
/*  ANKI WEB COMPATIBILITY  */
/* ------------------------ */

b, span, ul, ol, li {
	zoom: normal !important;
}

/* ------------------------ */
/*      INSTALLED FONT      */
/* ------------------------ */

@font-face {
	font-family: myfont;
	src: url("_notoserifregular.ttf") format("truetype");
}


@font-face {
	font-family: myfont;
	src: url("_notoserifbold.ttf");
	font-weight: bold;
}


@font-face {
	font-family: myfont;
	src: url("_notoserifitalic.ttf");
	font-style: italic;
}

@font-face {
	font-family: myfont;
	src: url("_notoserifbolditalic.ttf"); 
	font-weight: bold;
	font-style: italic;
}


@font-face {
  font-family: myfontarabic;
	src: url("_notonaskharabicvariable.ttf") format("truetype");
	font-weight: 100 1000;
}

